$color-beige: #C49E74;
$color-lighten-beige: #FAF1E8;
$color-darken-beige: #BD9365;
$color-dark-red: #8B123B;
$color-black: #282828;
$color-grey: #EEEEEE;
$color-lighten-grey: #B0AFAB;
$color-dark-grey: #DDDDDD;
$color-yellow: #FFC543;
$color-lighten-yellow: #FFBF31;
$color-white: #FFFFFF;

$color-accent: $color-beige;
$color-text-primary: $color-beige;
$color-text-default: $color-black;
$color-error: red;
$color-success: green;
