@import "node_modules/normalize.css";
@import "./assets/styles/variables/colors";
@import "./assets/styles/variables/typography";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ul[class],
ol, ol[class] {
  list-style-type: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

//::placeholder {
//  color: $color-gray;
//}
//
//::selection {
//  background-color: $color-accent;
//  color: $color-white;
//}

input,
textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: $color-error;
  }
  &:required:valid {
    border-color: $color-success;
  }
}

html,
#__nuxt,
#__layout,
#__layout {
  height: 100%;
}

body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $color-text-default;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  height: 100%;
}
